.hero {
  width: 100%;
  min-height: 100svh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contenedor centrado */
.heroInner {
  width: 100%;
  max-width: var(--container);
  padding: 0 20px;
  text-align: center;
}

/* MIS XV */
.heroTitle {
  margin: 0;
  
  font-size: 36px;
  line-height: 1.1;
  font-weight: 400;
  color: #000;
  text-align: center;
}

/* Paloma */
.heroName {
  margin-top: 40px;
  font-family: "Great Vibes", cursive;
  font-size: 10vh;
  line-height: 1;
  font-weight: 400;
  color: #000;
  text-align: center;
  letter-spacing: 1px;
}

@media (min-width: 520px) {
  .heroTitle {
    font-size: 44px;
  }

  .heroName {
    font-size: 56px;
  }
}
